body {
    font-family: Arial, sans-serif;
    background-color: #A7C7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    color: #333;
}

button {
    background-color: #14acb5;
    color: white;
    font-size: 1.5em;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}